include ./../mixins/banner-card

//- banner carousel

section.banner
  .banner__carousel
    +item('У тебя к этому талант', 'banner-1.jpg', 'Валентин', 'Пекарь')
    +item('У тебя всё под контролем', 'banner-2.jpg', 'Ксения', 'Товаровед')
    +item('У тебя к этому талант', 'banner-3.jpg', 'Виктор', 'Водитель')
    +item('У тебя всё под контролем', 'banner-4.jpg', 'Мария', 'Кассир')

  .banner__wrapper.wrap
    .banner__arrows.slider-arrows

// End banner 