include ./../mixins/banner_card

//- banner carousel

section.banner
  .banner__carousel
    +item('У тебя к этому талант', 'banner-1.jpg', 'Валентин', 'Пекарь')
    +item('У тебя всё под контролем', 'banner-2.jpg', 'Ксения', 'Товаровед')
    +item('У тебя к этому талант', 'banner-3.jpg', 'Виктор', 'Водитель')
    +item('У тебя всё под контролем', 'banner-4.jpg', 'Мария', 'Кассир')


  .banner__wrap--btns
    .wrap
      .banner__btns
        button.banner__button.btn__prev
          img.btn__img(src="images/icons/prev.svg" alt="назад")
        span.dividing__line
        button.banner__button.btn__next
          img.btn__img(src="images/icons/next.svg" alt="вперед")
        
// End banner 