//- blog

section.blog
  .blog__wrap.wrap
    .blog__header
      h2.blog__title мы в инстаграме
    .blog__main

      .blog__elements.blog__elements--first
        section.blog__element.blog--element__first--one
          article
        section.blog__element.blog--element__first--two
          article
        section.blog__element.blog--element__first--three
          article
        section.blog__element.blog--element__first--four
          article
        section.blog__element.blog--element__first--five
          article

      .blog__elements.blog__elements--second.hide
        section.blog__element.blog--element__second--one
          article
        section.blog__element.blog--element__second--two
          article
        section.blog__element.blog--element__second--three
          article
        section.blog__element.blog--element__second--four
          article
        section.blog__element.blog--element__second--five
          article
        section.blog__element.blog--element__second--six
          article

      button.blog__button показать ещё

// End blog
