//- blog

section.blog
  .blog__wrap.wrap
    .blog__header
      h3.blog__title мы в инстаграме
    .blog__main
    
      .blog__content
        .blog__elements.blog__elements--first
          section.blog__element.blog--element__first--one
            article
          section.blog__element.blog--element__first--two
            article
          section.blog__element.blog--element__first--three
            article
          section.blog__element.blog--element__first--four
            article
          section.blog__element.blog--element__first--five
            article

      button.blog__button показать ещё

// End blog
