//- footer

footer.footer
  .footer__wrap.wrap
    .footer__content
      a(href="#").footer__logo.common__logo
        img(src="images/icons/logo.svg" alt="Гросс маркет").footer__img.common__img
        span.footer__title.common__title гросс маркет
      span.footer__text--share поделиться
      .footer__social
        a(href="#").footer__link--facebook
          img(src="images/icons/facebook.svg", alt="Facebook").footer__img--facebook.social__link
        a(href="#").footer__link--vkontacte
          img(src="images/icons/vkontacte.svg", alt="VKontacte").footer__img--vkontacte.social__link
    .footer__content--copyright
      .footer__copyright © Гросс маркет 2020
      a(href="#").footer__politics Политика обработки персональных данных


// End footer