//- header

header.header
  .header__wrap.wrap
    a(href="#").header__logo.common__logo
      img(src="images/icons/logo.svg" alt="Гросс маркет").header__img.common__img
      span.header__title.common__title гросс маркет
    a(href="tel:+79264331416").header__phone--icon
      img(src="images/icons/phone.svg" alt="phone").header__phone--img
    a(href="tel:+79264331416").header__phone +7 (926) 433-14-16
    a(href="/").header__icon--btn
      img(src="images/icons/profile.png", alt="profile").header__icon--img
    button.header__button.button заполнить анкету
  include banner

// End header