include ./../mixins/job-card

//- job

section.slider(data-slider="sliderJob")
  .slider__wrap.wrap
    .slider__header
      h3.slider__title вакансии в гросс маркете

      .slider__btns
        button.slider__control(data-slide="prev")
        button.slider__control(data-slide="next")

    .slider__container
      .slider__wrapper
        .slider__items
        
          +card('expert.png', 'Товаровед', 'Прием и учет поставляемого от поставщиков товара, его маркировка', '1')
    
          +card('driver.png', 'Водитель', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе', '2')

          +card('baker.png', 'Пекарь', 'Обеспечение клиентов качественной хлебобулочной продукцией, формовка и выпечка хлебобулочных изделий', '3')

          +card('cashier.png', 'Кассир', 'Обслуживание покупателей на кассе и в торговом зале,проверка наличия и соответствия ценников', '4')

          +card('cook.png', 'Повар', 'Приготовление блюд согласно ТТК, работа с соблюдением санитарных норм и правил', '5')

          +card('seller.png', 'Продавец', 'Консультирование покупателей/клиентов по вопросам ассортимента, наличия и количества товара', '6')

          +card('inspector.png', 'Приёмщик', 'Приемка и отпуск товара по качеству и количеству', '7')
    ol.slider__indicators
      li(data-slide-to="0")
      li(data-slide-to="1")
      li(data-slide-to="2")
      li(data-slide-to="3")
      li(data-slide-to="4")
      li(data-slide-to="5")
      li(data-slide-to="6")
          
// End job