include ./../mixins/job_card

//- job

section.job
  .job__wrap.wrap
    .job__header
      h2.job__title вакансии в гросс маркете

      .job__btns
        button.job__button.button__prev
          img.btn__img(src="images/icons/prev.svg" alt="назад")
        button.job__button.button__next
          img.btn__img(src="images/icons/next.svg" alt="вперед")

    .job__main
      .job__carousel
        .job__track
        
          +card('expert.png', 'Товаровед', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')
    
          +card('driver.png', 'Водитель', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')

          +card('baker.png', 'Пекарь', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')

          +card('cashier.png', 'Кассир', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')

          +card('cook.png', 'Повар', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')

          +card('seller.png', 'Продавец', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')

          +card('inspector.png', 'Приёмщик', 'Доставка товара по магазинам и гипермаркетам компании в обслуживаемом регионе')
          
// End job