section
  .job__openings
    .job__wrap
      .job__container
        .job__title вакансии в гросс маркете
        .job__btns
          button.job__button.btn__prev
            img.btn__img(src="images/icons/prev.svg" alt="назад")
          button.job__button.btn__next
            img.btn__img(src="images/icons/next.svg" alt="вперед")
      .job__carousel
        .job__track
          .job__item