<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gross Market
    link(rel="stylesheet", href="css/main.min.css")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=39f0bbcc-e7c2-4121-b069-8c2c22ff1830&lang=ru_RU")
    script(defer src="js/main.min.js")
  body
    .wrapper
      include sections/header
      include sections/main
      include sections/footer

