$bg-banner: #F5F5F5;

.banner {
  background-color: $bg-banner;
  position: relative;

  &__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: $bg-banner; 
  }

  &__item {
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform 1s;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
  }

  &__container--img {
    position: relative;
  }

  &__title {
    width: 375px;
    margin: 48px 0 154px;
  }

  &__img {
    width: 612px;
    height: 612px;
    border-radius: 100%;
    object-fit: contain;
  }

  &__text--card {
    position: absolute;
  }

  &--text__name--first {
    left: 120px;
    bottom: 156px;
  }

  &--text__work--first {
    top: 152px;
    right: 120px;
  }

  &--text__name--second {
    left: 120px;
    top: 152px;
  }

  &--text__work--second {
    right: 120px;
    bottom: 156px;
  }

  &__wrap--btns {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47px;
    width: 100%;
  }
  
  &__btns  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 44px;
    background-color: $white;
    border-radius: 8px;
    opacity: 1;
  }

}

.btn__img {
  width: 9.5px;
  height: 10.66px;
  margin: 6.67px 8.5px 6.67px 6px;
}

.btn__hide {
  opacity: 0.2;
}

.dividing__line {
  display: block;
  height: 28px;
  border: 1px solid $bg-banner;
  margin: 0 12px;
}

.text__card {
  font-size: 1.5rem;
  line-height: 30px;
  border-radius: 50px;
  padding: 12px 16px;
  background-color: $white;
  text-transform: lowercase;
}

