// banner

$bg-banner: #F5F5F5;

.banner {
  background-color: $bg-banner;
  position: relative;

  &__carousel {
    display: flex !important;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background: $bg-banner; 
  }

  &__item {
    width: 100%;
  }

  &__item:nth-child(2n) {

    .banner__text--name {
      left: 120px;
      top: 152px;
      bottom: auto;

      @media(max-width: 420px) {
        left: 160px;
      }
    }

    .banner__text--work {
      right: 120px;
      bottom: 156px;
      top: auto;

      @media(max-width: 890px) {
        right: 180px;
      }

      @media(max-width: 798px) {
        right: 120px;
      }

      @media(max-width: 420px) {
        right: 160px;
      }
    }

  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;

    @media(max-width: 798px) {
      flex-wrap: wrap;
      justify-content: center;
      height: 624px;
    }
  }

  &__title {
    min-width: 320px;
    max-width: 320px;
    margin: 48px 0 154px;
    margin-right: 20px;

    @media(max-width: 798px) {
      margin: 48px 0;
      min-width: 290px;
      max-width: 422px;
      font-size: 3rem;
      line-height: 44px;
      margin-right: 0px;
    }

    @media(max-width: 420px) {
      font-size: 2.5rem;
      line-height: 38px;
    }
  }

  &__container--img {
    position: relative;

    @media(max-width: 798px) {
      top: -106px;
    }
  }

  &__img {
    width: 612px;
    height: 612px;
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  &__text--card {
    position: absolute;
  }

  &__text--name {
    left: 120px;
    bottom: 156px;

    @media(max-width: 420px) {
      left: 160px;
    }
  }

  &__text--work {
    top: 152px;
    right: 120px;

    @media(max-width: 890px) {
      right: 180px; 
    }

    @media(max-width: 798px) {
      right: 120px;
    }

    @media(max-width: 420px) {
      right: 160px;
    }
  }

  &__arrows {
    position: absolute;
    bottom: 20px;
  }

  &__button  {
    padding: 16px;
    background-color: $first;
    position: relative;
  }

  &__btn--prev {
    border-radius: 8px 0 0 8px;

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: -1px;
      display: block;
      height: 28px;
      border: 1px solid $bg-banner;
    }
  }

  &__btn--next {
    border-radius: 0 8px 8px 0;

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      left: -1px;
      display: block;
      height: 28px;
      border: 1px solid $bg-banner;
    }
  }
  
}

.slick-dots {
  position: absolute;
  bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center

  li { 
    padding: 0; 
  }

	button {
    border: none;
    background-color: $first;
    opacity: 0.7;
    height: 5px;
    width: 30px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0;
    cursor: pointer;
	}

	li.slick-active {
		button {
			background-color: $second;
		}
	}
}

@media(max-width: 420px) {
  .slick-dots {
    bottom: -9px;
  }
}

.btn__img {
  width: 10px;
  height: 11px;
  margin: 6px;
}

.text__card {
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 6px 16px;
  background-color: $white;
  text-transform: lowercase;

  @media(max-width: 768px) {
    font-size: 1.325rem;
    padding: 2px 16px;
  }

  @media(max-width: 420px) {
    font-size: 1.125rem;
    padding: 0 16px;
  }
}

