// blog

.blog {
  margin-top: 60px;

  &__main {
    margin-top: 32px;
  }

  &__elements {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(112.5px, auto));
    gap: 30px;
    margin-bottom: 30px;

    @media(max-width: 991px) {
      gap: 15px;
      margin-bottom: 15px;
    }

  }

  &__element {
    background-color: $first;
    border-radius: 8px;
  }

  &__elements--first {

    @media(max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, minmax(112.5px, auto));
    }

    @media(max-width: 420px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(10, minmax(112.5px, auto));
    }

    .blog--element__first--one {
      grid-column: span 6;
      grid-row: span 4;

      @media(max-width: 768px) {
        grid-column: span 2;
      }

      @media(max-width: 420px) {
        grid-column: span 1;
        grid-row: span 2;
      }
    }

    .blog--element__first--two,
    .blog--element__first--four {
      grid-column: span 3;
      grid-row: span 2;

      @media(max-width: 768px) {
        grid-column: span 1;
      }
    }

    .blog--element__first--three,
    .blog--element__first--five {
      grid-column: span 3;
      grid-row: span 2;

      @media(max-width: 768px) {
        grid-column: span 1;
      }
    }

  }

  &__elements--next {

    @media(max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, minmax(112.5px, auto));
    }

    @media(max-width: 420px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, minmax(112.5px, auto));
    }
    
    .blog--element__next--one,
    .blog--element__next--four,
    .blog--element__next--two,
    .blog--element__next--five,
    .blog--element__next--three,
    .blog--element__next--six
     {
      grid-column: span 4;
      grid-row: span 2;

      @media(max-width: 600px) {
        grid-column: span 1;
      }
    }

  }

  &__button {
    background-color: $first;
    border-radius: 8px;
    width: 100%;
    padding: 12px 0;
    line-height: 23px;
  }
 
}


