// header

$colorLogo: #C4C4C4;

.header {
  width: 100%;
  background-color: $white;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__title {
    color: $colorLogo;
  }

  &__phone {
    font-size: 1.125rem;
    line-height: 23px;
    color: $black;
    margin-right: 32px;
    margin-left: auto;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__phone--icon {
    display: none;
    margin-left: auto;
    margin-right: 10px;
    width: 26px;
    height: 26px;

    @media (max-width: 600px) {
      display: block;
    }
  }

  &__button {
    @include button() {
      width: 97px;
    }

    @media (max-width: 600px) {
      width: 94px;
      line-height: 38px;
    }

    @media (max-width: 360px) {
      width: 90px;
      line-height: 36px;
    }
  }

}
