$colorLogo: #C4C4C4;

.header {
  width: 100%;
  background-color: $white;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__title {
    margin-left: 23px;
    color: $colorLogo;
  }

  &__phone {
    font-size: 1.125rem;
    line-height: 23px;
    color: $black;
    margin-right: 32px;
    margin-left: auto;
  }

  &__button {
    @include button() {
      width: 187px;
      height: 47px;
      line-height: 23px;
    }
  }

}