// map

.map {
  margin-top: 69px;

  &__wrap {
    width: 100%;
  }

  &__container {
    width: 100%;
    height: 540px;
    background-color: rgb(225, 241, 200);
    margin-top: 32px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    // политра цвета карты

    // filter: brightness(50%);
    // -ms-filter: brightness(50%);
    // -webkit-filter: brightness(50%);
    // -moz-filter: brightness(50%);   
    // -o-filter: brightness(50%);  

    // filter: grayscale(1);
    // -ms-filter: grayscale(1);
    // -webkit-filter: grayscale(1);
    // -moz-filter: grayscale(1);
    // -o-filter: grayscale(1);

    // filter: invert(100%);
    // -ms-filter: invert(100%);
    // -webkit-filter: invert(100%);
    // -moz-filter: invert(100%);
    // -o-filter: invert(100%);

    @media(max-width: 540px) {
      height: 480px;
    }

  }

  &__btns {
    position: absolute;
    left: 10px;
    bottom: 24px;
    z-index: 10;
  }

  &__button {
    font-size: 1.125rem;
    line-height: 23px;
    text-align: center;
    padding: 9px 15px;
    background-color: $white;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba($black, .5);
    cursor: pointer;
    transition: border .6s;

    @media(max-width: 600px) {
      font-size: 1rem;
      padding: 6px 12px;
    }

    &:hover {
      border-color: $black;
    }
  }

  &__button--active {
    background-color: $second;
  }

}