@font-face {
  font-family: 'Euclid__Circular--B';
    src: url('../fonts/EuclidCircularB-Medium.woff2') format('woff2');
    src: url('../fonts/EuclidCircularB-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}