@mixin button() {
  background-color: $second;
  border-radius: 8px;
  font-size: 1.125rem;
  color: $black;
  text-align: center;
  display: block;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: all .8s;
  @content;

  &:hover, &:active {
    background-color: $buttonHover;
  }
}

@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}