mixin card(img, title, description, id)

  .slider__item
    .slider__item--content
      img.slider__item--img(src="images/job/" + img alt=title)
      p.slider__name.text__item #{title} 
      .slider__card--layer(data-id=id)    
        p.slider__description #{description}

